* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #98909b;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

#main_home {
  height: 100%;
}

#battle_Bg {
  background: url("/images/battle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#home_Bg {
  background: url("/images/home.jpg ");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 70%;
}

.logo {
  position: relative;
  top: 30px;
}

.main_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(40%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  place-items: center;
  width: 98vw;
  height: 70vh;
}

.home_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(40%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  place-items: center;
  width: 98vw;
}

#container {
  width: 100vw;
  height: 100vh;
}

#pokemon_options {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  height: 80%;
}

#pokemon_options .pokemon {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 9999;
}

#pokemon_options .pokemon:hover {
  cursor: pointer;
}

#pokemon_options .pokemon .pokemon_image {
  height: 150px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#pokemon_options .pokemon .pokemon_image:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#pokemon_options .pokemon h3 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  pointer-events: none;
}

#player_image img {
  height: 270px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#cpu_image img {
  height: 270px;
}

.player_stats,
.cpu_stats {
  display: -ms-grid;
  display: grid;
  width: 300px;
  text-align: center;
}

#player_health,
#cpu_health {
  position: relative;
  width: 100%;
  border: 1px solid black;
  height: 20px;
}

#plyr_current_health,
#cpu_current_health {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.attacks_messages {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  margin: 10px;
}

#attack_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.attacks {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 50px;
  background: #fff;
  border-radius: 10px;
}

.attacks:hover {
  cursor: pointer;
  background: #98909b;
}

#pop_up {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  place-items: center;
  display: none;
}

#text_container {
  background: rgba(216, 216, 216, 0.8);
  height: 400px;
  width: 700px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-radius: 5px;
  color: #000;
}

#game_text {
  font-size: 40px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding-bottom: 5px;
}

.redirect_text {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */