* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #98909b;
  text-align: center;
}

// main {
//   // display: grid;
//   // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
// }
#battle_BG {
  background: url('/images/battle.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.main_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  place-items: center;
  height: 80vh;
}

#pokemon_options {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  height: 70vh;


  .pokemon {
    display: grid;
    place-items: center;
    row-gap: 10px;
    position: relative;
    z-index: 9999;

    &:hover {
      cursor: pointer;
    }

    .pokemon_image {
      height: 150px;
      pointer-events: none;
    }

    h3 {
      align-self: end;
      pointer-events: none;
    }
  }
}

#player_image {
  img {
    height: 270px;
    transform: scaleX(-1);
  }
}

#cpu_image {
  img {
    height: 270px;
  }
}

.player_stats,
.cpu_stats {
  display: grid;
  width: 300px;
  text-align: center;
}

#player_health,
#cpu_health {
  position: relative;
  width: 100%;
  border: 1px solid black;
  height: 20px;
}

#plyr_current_health,
#cpu_current_health {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.attacks_messages {
  display: grid;
  grid-auto-flow: column;
  margin: 10px;
}

#attack_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.attacks {
  display: grid;
  place-items: center;
  height: 50px;
  background: #fff;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    background: #98909b
  }
}