* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #98909b;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

// header {
//   margin-top: 20px;
// }

#main_home {
  height: 100%;
}

#battle_Bg {
  background: url('/images/battle.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  // padding-top: 30px;
}

#home_Bg {
  background: url('/images/home.jpg ');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 70%;
}

.logo {
  position: relative;
  top: 30px;
}

.main_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  place-items: center;
  // column-gap: 30px;
  width: 98vw;
  // max-height: 60vh;
  height: 70vh;
}

.home_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  place-items: center;
  // column-gap: 30px;
  width: 98vw;
  // height: 90vh;
  // height: 50vh;
}

#container {
  width: 100vw;
  height: 100vh;
}

#pokemon_options {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  height: 80%;

  .pokemon {
    display: grid;
    place-items: center;
    // row-gap: 10px;
    position: relative;
    z-index: 9999;

    &:hover {
      cursor: pointer;
    }

    .pokemon_image {
      height: 150px;
      // pointer-events: none;
      transition: transform .3s;

      &:hover {
        transform: scale(1.3);
      }
    }



    h3 {
      align-self: end;
      pointer-events: none;
    }
  }
}

#player_image {
  img {
    height: 270px;
    transform: scaleX(-1);
  }
}

#cpu_image {
  img {
    height: 270px;
  }
}

.player_stats,
.cpu_stats {
  display: grid;
  width: 300px;
  text-align: center;
}

#player_health,
#cpu_health {
  position: relative;
  width: 100%;
  border: 1px solid black;
  height: 20px;
}

#plyr_current_health,
#cpu_current_health {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  transition: all .25s ease-in-out;
}

.attacks_messages {
  display: grid;
  grid-auto-flow: column;
  margin: 10px;
}

#attack_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.attacks {
  display: grid;
  place-items: center;
  height: 50px;
  background: #fff;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    background: #98909b
  }
}

#pop_up {
  background: rgba($color: #000000, $alpha: .8);
  // display: grid;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  place-items: center;
  display: none;
}

#text_container {
  background: rgba($color: #d8d8d8, $alpha: .8);
  height: 400px;
  width: 700px;
  display: grid;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  color: #000;
}

#game_text {
  font-size: 40px;
  align-self: end;
  padding-bottom: 5px;
}

.redirect_text {
  align-self: start;
  font-size: 12px;
}